---
layout: default
---

<div class="home">
<center><IMG SRC="./images/rubriapic1.png"></center>
<p>Rubria Rocha de Luna is specializing in quantitative methods from the Digital Humanities field to approach texts from cultural narratives and social media. Her current work revolves around digital rhetoric through text and data mining of the visual and textual content of social media posts from groups of returned migrants to Mexico. Other research interests are: digital archiving and preservation, visual culture and memory.</p>

</div>
